@media screen and (max-width: 10px) {

div.CxLateral{
    display: block;
}

div.CxLateral, img {
    width: 100%;
}

div.pessoa{
    margin: auto;
}

p.descPessoal{
    text-align: center;
    font-size: 3vw;
}

}